/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.cdk-drag-preview {
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 200ms ease;
}